<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div th:replace="base :: navbar"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices mi tempus imperdiet nulla. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Aliquam ut porttitor leo a diam. Adipiscing enim eu turpis egestas pretium. Adipiscing at in tellus integer feugiat scelerisque varius. Tellus at urna condimentum mattis pellentesque id nibh. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Ultricies leo integer malesuada nunc vel risus commodo viverra. Ac turpis egestas maecenas pharetra convallis. Tortor dignissim convallis aenean et tortor at risus viverra. Urna et pharetra pharetra massa massa. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc sed augue lacus viverra. Vivamus arcu felis bibendum ut tristique et egestas. Condimentum mattis pellentesque id nibh tortor id aliquet.</p>

<p>Amet risus nullam eget felis eget nunc lobortis. At lectus urna duis convallis convallis. Et molestie ac feugiat sed lectus vestibulum. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Consequat nisl vel pretium lectus quam id leo in vitae. Lectus arcu bibendum at varius vel pharetra vel turpis. Convallis posuere morbi leo urna molestie at elementum. Vel orci porta non pulvinar. Sed adipiscing diam donec adipiscing tristique risus nec. Proin sagittis nisl rhoncus mattis rhoncus urna. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Sagittis eu volutpat odio facilisis. Mattis rhoncus urna neque viverra justo nec ultrices. Amet cursus sit amet dictum. Felis donec et odio pellentesque diam volutpat. Malesuada pellentesque elit eget gravida cum. Tempor id eu nisl nunc mi ipsum. Diam in arcu cursus euismod quis viverra nibh cras.</p>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>