<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Resume Builder</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/postp">Add person</a></li>
            <li><a href="/poste">Add Education</a></li>
            <li><a href="/postw">Add work Experience</a></li>
            <li><a href="/posts">Add Skill</a></li>
        </ul>
    </div>
</nav>
<p >Welcome to Resume Builder</p>
<div th:each="person : ${person}">
    <span th:text="${person.firstName}"></span>
    <span th:text="${person.lastName}"></span><br/>
    <p th:text="${person.email}"></p>
</div>

<h4>Education Information</h4>
<ul th:each="education : ${education}">

    <li th:inline="text">[[${education.educationLevel}]] in [[${education.fieldOfStudy}]]<br/>
    [[${education.collegeName}]], [[${education.graduationDate}]]</li>

</ul>

<h4>Work Experience</h4>
<ul  th:each="workexprience : ${workexprience}">

    <li th:inline="text">[[${workexprience.position}]]  at
    [[${workexprience.companyName}]] <br/>
        [[${workexprience.startDate}]]-[[${workexprience.endDate}]]<br/>
   Duties: [[${workexprience.duties}]]</li>

</ul>
<h4>Skills</h4>
<ul   th:each="skills : ${skills}">

    <li th:inline="text">[[${skills.skillType}]] --rating-- [[${skills.rating}]]</li>

</ul>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>