<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/posts}"
      th:object="${skills}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    Skill<input type="text" th:field="*{skillType}"/><br/>
    <span th:if="${#fields.hasErrors('skillType')}"
          th:errors="*{skillType}"></span><br/>
    Rating<input type="text" th:field="*{rating}"/><br/>
    <span th:if="${#fields.hasErrors('rating')}"
          th:errors="*{rating}"></span>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>