<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/postw}"
      th:object="${workexperience}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
   <label>Company Name</label> <input type="text" th:field="*{companyName}"/>
    <span th:if="${#fields.hasErrors('companyName')}"
          th:errors="*{companyName}"></span><br/>
    Start Date<input type="text" th:field="*{startDate}"/><br/>
    <span th:if="${#fields.hasErrors('startDate')}"
          th:errors="*{startDate}"></span>
    End Date:<input type="text" th:field="*{endDate}"/><br/>
    <span th:if="${#fields.hasErrors('endDate')}"
          th:errors="*{endDate}"></span>
    Position<input type="text" th:field="*{position}"/><br/>
    <span th:if="${#fields.hasErrors('position')}"
          th:errors="*{position}"></span>
    Duties<input type="text" th:field="*{duties}"/><br/>
    <span th:if="${#fields.hasErrors('duties')}"
          th:errors="*{duties}"></span>



    <input type="submit" value="Submit"/>
</form>
</body>
</html>